/* CSS for SortableXBlock */
.sortable_block .problem-header {
  margin-bottom: 10px;
  font-size: 1.35em;
  font-weight: 400;
  line-height: 1.4em;
}

.sortable_block .problem-progress {
  display: inline-block;
  color: #5e5e5e;
  font-size: 0.875em;
}

.sortable_block .problem {
  padding-top: 20px;
}

.sortable_block .problem .problem-statement p{
  margin-bottom: 1.41575em;
}

.sortable_block .items-list li {
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  display: block;
  padding: 12px !important;
  color: black;
  background: #f2f2f2;
  counter-increment: number;
  cursor: move;
  outline: none;
  border-radius: 2px;
  margin-bottom: 10px;
}

.sortable_block .items-list .incorrect{
  border: 2px solid #b20610;
}

.sortable_block .items-list .corrrect{
  border: 2px solid greenyellow;
}

.sortable_block .items-list li::before {
  content: counter(number);
  margin-right: 10px;
}

.sortable_block ul.items-list, .sortable_block ul.ui-sortable{
  padding-inline-start: 0;
  margin-left: 0;
  padding: 0;
}

.sortable_block button:disabled, .sortable_block button[disabled] {
  background-color: #999999 !important;
  color: #fff !important;
}


.sortable_block .feedback .error {
  color: red;
  display: none;
}

.sortable_block .feedback .correct {
  color: green;
  display: none;
}

.sortable_block .notification {
  float: left;
  margin-top: 10px;
  padding: 8px 10px 4px 10px;
  line-height: 1.5em;
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
}

.sortable_block .notification.error {
  border-top: 3px solid #b20610;
}
.indicator-container.error .icon, .sortable_block .notification.error .icon{
  margin-right: 15px;
  color: #b20610;
}


.sortable_block .notification.success {
  border-top: 3px solid #008100;
}
.indicator-container.success .icon, .sortable_block .notification.success .icon{
  margin-right: 15px;
  color: #008100;
}

.is-hidden {
  display: none;
}
